{% extends 'base.html.twig' %}

{% block title %}Gestion des elèves
{% endblock %}

{% block body %}
{% include 'nav.html.twig' %}
<div class="single-row">
	<div class="">
		<div class="wrap-titles">
			<h2>Liste des elèves</h2>
			<h2 class="back-to-dashboard"><a href="{{ path('admin') }}">&#10229; Retour à l'accueil</a></h2>
		</div>

		<div class="wrap">
			<div class="card p-2">
				<table class="table nowrap display" id="student-table" style="width: 100%">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th class="text-center">Rôle</th>
							<th>Formation en cours</th>
							<th>Née le</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td>{{user.lastName}}</td>
							<td>{{user.firstName}}</td>
							<td class="text-center">
								{% if user.roles|length == 2 %}

								<div class="badge-btn">
									<p class="badge">admin</p>
									<a class="" href="{{ path('users_demote', {id: user.id}) }}"
										title="Révoquer les droits administrateurs">&#215;</a>
								</div>
								{% else %}
								<div class="badge-btn role-btn">
									<p class="badge user">elève</p>
									<a href="{{ path('users_promote', {id: user.id}) }}" style="font-size: .6rem">Modifier</a>
								</div>
								{% endif %}

							</td>
							<td>
								{% for session in user.sessions %}
								<span><strong>{{session.course.courseName}}</strong>, <small>du <strong>{{ session.startDate | date("d/m/Y") }}</strong> au <strong>{{ session.endDate | date("d/m/Y") }}</strong></small><br>
								{% else %}
								(Aucune sessions)<br>
								{% endfor %}
								{# <a href="">Gérer</a> #}
							</td>
							<td class="text-center">{{user.birthDate | date("d/m/Y")}}</td>
							<td class="text-center flex">
								<a href="{{ path('users_edit', {id: user.id}) }}" style="height: 32px;"><img
										class="icon edit" src="{{ asset('icons/edit.svg') }}" alt=""
										title="&Eacute;diter"></a>

								{{ include('users_management/_delete_form.html.twig') }}

							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="{{ path('users_add') }}" type="button" class="btn btn-primary-dk">+ Ajouter un utilisateur</a>
			</div>
		</div>
	</div>
</div>

{% for message in app.flashes('success') %}

<div class="alert success">
	<p>{{ message }}</p>
</div>

{% endfor %}

{% for message in app.flashes('delete') %}

<div class="alert delete">
	<p>{{ message }}</p>
</div>

{% endfor %}

{% for message in app.flashes('edit') %}

<div class="alert edit">
	<p>{{ message }}</p>
</div>

{% endfor %}



<script>
	$(document).ready(function () {
		$('#student-table').DataTable({
			"scrollX": true,
			fixedColumns: true,
			"language": {
				"url": "{{ asset('js/french.lang') }}"
			}
		});
	});
</script>
{% endblock %}