{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur
{% endblock %}

{% block body %}

{% include 'admin/nav.html.twig'%}
<div class="jumbotron">

	<p>
		<span class="display-4 text-muted">Bonjour, </span>
		<br>
		<span class="display-2">{{ app.user.firstname }}</span>
	</p>
</div>

<div class="container">


	<h4>Les annonces</h4>
	{% for announcement in announcements %}
	<div class="card">
		<h2 class="card-header">{{ announcement.announcementTitle}}</h2>
		<div class="card-body">
			{{ announcement.announcementContent | raw }}
		</div>
		<div class="card-footer">
			<a href=" {{ path('announcements_edit', {id: announcement.id}) }}" type="button"
				class="btn btn-warning btn-sm">&Eacute;diter</a>
			<a href=" {{ path('announcements_delete', {id: announcement.id}) }}" type="button"
				class="btn btn-danger btn-sm">- Supprimer</a>
		</div>
	</div>
	{% endfor %}

</div>

{% endblock %}