{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur
{% endblock %}

{% block body %}

{% include 'nav.html.twig'%}

<div class="grid">
	<div class="row">
		<div class="jumbotron stretch-x">
			<p>
				<span class="h-sub">Bonjour, </span>
				<br>
				<span class="h-display">{{ app.user.firstname }}</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="latest-announcements">
			<div class="wrap-titles">
				<h2>Dernières annonces</h2>
			</div>
			<div class="wrap announcements wrap-grid">
				{% for announcement in announcements %}
				{% if announcement.isDraft == 0 %}
				<div class="card">
					<div class="card-header">
						<div><img src="{{ asset('icons/horn.svg') }}" alt=""></div>

						<h4>{{ announcement.announcementTitle}}</h4>
					</div>

					<div class="card-body">
						<small>{{ announcement.announcementDate | date("d/m/Y") }}</small>
						<p>{{ announcement.announcementContent | raw }}</p>
					</div>
					{% if is_granted('ROLE_ADMIN') %}
					<div class="card-btn">
						<a href=" {{ path('announcement_edit', {id: announcement.id}) }}" type="button"
							class="btn btn-warning btn-sm">&Eacute;diter</a>
						<a href=" {{ path('announcement_delete', {id: announcement.id}) }}" type="button"
							class="btn btn-danger btn-sm">Supprimer</a>
					</div>
					{% endif %}
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>

		<div class="aside">
			<div class="mb-2">
				<div class="wrap-titles">
					<h2>Vos derniers messages</h2>
				</div>
				<div class="wrap announcements wrap-grid">
					{% for message in messages %}
					<div class="card">
						<div class="card-header">
							<div><img src="{{ asset('icons/mail.svg') }}" alt=""></div>

							<h4>Par {{ message.sender.name }}</h4>

						</div>

						<div class="card-body">
							<small class="justify-self-end">le {{ message.messageDate | date("d/m/Y") }}</small>
							<p>{{ message.messageContent }}</p>
							<small class="mt-1"><a href="" class="small-link">Lire le message >>
								</a></small>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</div>

<p>Roboto</p>
<p style="font-family: roboto-medium;">Roboto Medium</p>
{% endblock %}