{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<h2>Listes des utilisateurs</h2>
	<table>
		<thead>
			<tr>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Admin</th>
				<th>Formation en cours</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>
						{% for unrole in user.roles %}
							{% if unrole != "ROLE_USER" %}
								&#10003;
							{% endif %}

						{% endfor %}
					</td>
					<td>
						{% for session in user.sessions %}
							{{session.course.courseName}}<br>
						{% endfor %}
					</td>
					<td>
						<a href="/admin/delete/user/{{user.id}}">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2>Ajouter des utilisateurs</h2>
	{{ form(userForm) }}

		<h2>Ajouter une formation</h2>
		{{ form(courseForm) }}
			<table>
				<thead>
					<tr>
						<th>Nom de la formation</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for course in courses %}
						<tr>
							<td>{{course.courseName}}</td>
							<td>
								<a href="/admin/delete/course/{{course.id}}">Supprimer</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
		<h2>Ajouter une session de formation</h2>
		{{ form(sessionForm) }}{% endblock %}
