{% block body%}
<nav>
    <a href="{{ path('messages_index', {user: app.user.id}) }}" class="btn btn-info">Messagerie</a>
    <a href="{{ path('user_edit', {user: app.user.id}) }}" class="btn btn-info">Modifier mon profil</a>
    <a href="{{ path('logout') }}" class="btn btn-info">D&eacute;connexion</a>
    <a href="{{ path('users_management') }}" class="btn btn-info">Gérer les apprenants</a>
    <a href="{{ path('sessions_management') }}" class="btn btn-info">Gérer les sessions/formations</a>
    <a href="{{ path('announcements_add') }}" class="btn btn-info">Ajouter une annonce</a>
    <a href="{{ path('document_index') }}" class="btn btn-info">Gérer les fichiers</a>
</nav>
{% endblock %}