{% extends 'base.html.twig' %}

{% block title %}Announcement index{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}

<div class="row" style="min-height: calc(100vh - 146px - 24px)">
    <div class="">
        <div class="container-titles">
            <div class="d-flex">
                <h2>Gestion des annonces</h2>
            </div>
            <h2 class="back-to-dashboard"><a href="{{ path('admin') }}">&#10229; Retour à l'accueil</a></h2>
        </div>

        <div class="container">
            <div class="card" style="padding: 24px">
                <table class="table display compact" id="announcementList" style="width: 100%">
                    <a href="{{ path('announcement_new') }}" class="btn btn-primary-dk mb-1">+ Nouvelle annonce</a>

                    <thead>
                        <tr>
                            <!-- <th>Id</th> -->
                            <th>Announcement_date</th>
                            <th>Announcement_title</th>
                            <!-- <th>Announcement_content</th> -->
                            <th>Publié</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for announcement in announcements %}
                        <tr>
                            <!-- <td>{{ announcement.id }}</td> -->
                            <td>{{ announcement.announcementDate ? announcement.announcementDate|date('d M. Y') : '' }}
                            <td>{{ announcement.announcementTitle }}</td>
                            <!-- <td>{{ announcement.announcementContent }}</td> -->
                            </td>
                            <td class="text-center">{{ announcement.isDraft ? '' : '&#10004;' }}</td>
                            <td class="flex">
                                <a href="{{ path('announcement_show', {'id': announcement.id}) }}">Voir</a>
                                <a href="{{ path('announcement_edit', {'id': announcement.id}) }}"
                                    style="height: 32px;">
                                    <img class="icon edit" src="{{ asset('icons/edit.svg') }}" alt=""
                                        title="&Eacute;diter"></a>
                                {{ include('announcement/_delete_form.html.twig') }}

                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6">Aucune annonce</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% for message in app.flashes('success') %}

<div class="alert success">
    <p>{{ message }}</p>
</div>

{% endfor %}

{% for message in app.flashes('delete') %}

<div class="alert delete">
    <p>{{ message }}</p>
</div>

{% endfor %}

{% for message in app.flashes('edit') %}

<div class="alert edit">
    <p>{{ message }}</p>
</div>

{% endfor %}
<script>
    $(document).ready(function () {
        $('#announcementList').DataTable({
            "scrollX": true,
            fixedColumns: true,
            "language": {
                "url": "{{ asset('js/french.lang') }}"
            },

        });
    });
</script>
{% endblock %}