{% extends 'base.html.twig' %}

{% block title %}Announcement{% endblock %}

{% block body %}
    <h1>Announcement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ announcement.id }}</td>
            </tr>
            <tr>
                <th>Announcement_title</th>
                <td>{{ announcement.announcementTitle }}</td>
            </tr>
            <tr>
                <th>Announcement_content</th>
                <td>{{ announcement.announcementContent }}</td>
            </tr>
            <tr>
                <th>Announcement_date</th>
                <td>{{ announcement.announcementDate ? announcement.announcementDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Is_draft</th>
                <td>{{ announcement.isDraft ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('announcement_index') }}">back to list</a>

    <a href="{{ path('announcement_edit', {'id': announcement.id}) }}">edit</a>

    {{ include('announcement/_delete_form.html.twig') }}
{% endblock %}
