{% extends 'base.html.twig' %}

{% block title %}Gestion des apprenants
{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}
<div class="grid">
	<div class="container">
		<h2>Listes des utilisateurs</h2>
		<table class="table nowrap display" id="student-table" style="width: 100%">
			<thead>
				<tr>
					<th data-field="firstName">Prénom</th>
					<th data-field="lastName">Nom</th>
					<th class="text-center" data-field="roles">Rôle</th>
					<th data-field="sessions">Formation en cours</th>
					<th data-field="birthDate">Née le</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td class="text-center">
						{% if user.roles|length == 2 %}

						<div class="badge-btn">
							<p class="badge">admin</p>
							<a class="" href="{{ path('users_demote', {id: user.id}) }}">&#215;</a>
						</div>
						{% else %}
						<a href="{{ path('users_promote', {id: user.id}) }}">Modifer</a>
						{% endif %}

					</td>
					<td>
						{% for session in user.sessions %}
						{{session.course.courseName}}<br>
						{% else %}
						(Aucune sessions)<br>
						{% endfor %}
						{# <a href="">Gérer</a> #}
					</td>
					<td>{{user.birthDate | date("d/m/Y")}}</td>
					<td>
						<a href="{{ path('users_edit', {id: user.id}) }}">&Eacute;diter</a>
						<a href="{{ path('users_delete', {id: user.id}) }}">Supprimer</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('users_add') }}" type="button" class="btn btn-primary-dk">Ajouter un utilisateur</a>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#student-table').DataTable({
			"scrollX": true,
			fixedColumns: true,
			"language": {
				"url": "{{ asset('js/french.lang') }}"
			},

		});
	});
</script>
{% endblock %}