{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur
{% endblock %}

{% block body %}
<a href="/admin">Retour admin</a>
<a href="{{ path('sessions.management') }}">Retour session</a>
<a href="{{ path('users.management') }}">Retour apprenant</a>
<div class="container">
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button class="btn btn-primary">&Eacute;diter</button>
    {{ form_end(userForm) }}
</div>
{% endblock %}