{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur
{% endblock %}

{% block body %}
{% include 'admin/nav.html.twig' %}

<div class="row" style="min-height: calc(100vh - 146px - 24px)">
	<div class="">
		<div class="container-titles">
			<h2>Créer une annonce</h2>
			<h2 class="back-to-dashboard"><a href="{{ path('admin') }}">&#10229; Retour à l'accueil</a></h2>
		</div>
		<div class="container">
			<div class="card">
				{{ form_start(announcementForm, {'attr': {'class': 'form'}} ) }}
				{{ form_row(announcementForm.announcement_title) }}
				{{ form_row(announcementForm.announcement_content) }}
				<div class="form-children option">
					{{ form_row(announcementForm.is_draft) }}
				</div>
				{{ form_row(announcementForm.announcement_date, {'attr': {'class': 'select-date'}}) }}

				<button class="btn btn-primary-dk">
					{% if button is defined %}
					{{ button }}
					{% else %}
					Publier
					{% endif %}
				</button>
				{{ form_end(announcementForm) }}
			</div>
		</div>
	</div>
</div>

{% endblock %}