{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}


<div class="jumbotron">

    <p><span class="display-4 text-muted">Bonjour, </span><br><span class="display-2">{{ app.user.firstname }}</span>
    </p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <h3>Vos formations</h3>
            <table class="table table-sm .table-responsive">
                <thead>
                    <tr>
                        <th scope="col">Formation</th>
                        <th scope="col">Date de début</th>
                        <th scope="col">Date de fin</th>
                    </tr>
                </thead>

                <tbody>
                    {% for session in sessions %}
                    <tr>
                        <td>{{ session.course.courseName }}</td>
                        <td>{{ session.startDate | date("d/m/Y") }}</td>
                        <td>{{ session.endDate | date("d/m/Y") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
<div class="col-5 offset-1">
    <h3>Dernières annonces</h3>
    {% for announcement in announcements %}
    <div class="card">
        <h3 class="card-header">{{ announcement.announcementTitle}}</h3>
        <div class="card-body">
            {{ announcement.announcementContent | raw }}
        </div>
    </div>
{% endfor %}
</div>
    </div>

</div>

{% endblock %}