{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

{% include 'admin/nav.html.twig'%}
<div>
    
    <div class="jumbotron m-2">
        <p>
            <span class="h-sub">Bonjour, </span>
            <br>
            <span class="h-display">{{ app.user.firstname }}</span>
        </p>
    </div>
    <div class="grid align-top" style="min-height: calc(100vh - 146px - 24px);">
        <div class="span-7 stretch-x">
            <div class="container-titles">
                <h2>Dernières annonces</h2>
            </div>
            <div class="container announcements container-grid">
                {% for announcement in announcements %}
                {% if announcement.isDraft == 0 %}
                <div class="card">
                    <div class="card-header">
                        <div><img src="{{ asset('icons/horn.svg') }}" alt=""></div>

                        <h4>{{ announcement.announcementTitle}}</h4>
                    </div>

                    <div class="card-body">
                        <small>{{ announcement.announcementDate | date("d/m/Y") }}</small>
                        <p>{{ announcement.announcementContent | raw }}</p>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="card-btn">
                        <a href=" {{ path('announcement_edit', {id: announcement.id}) }}" type="button"
                            class="btn btn-warning btn-sm">&Eacute;diter</a>
                        <a href=" {{ path('announcement_delete', {id: announcement.id}) }}" type="button"
                            class="btn btn-danger btn-sm">Supprimer</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="span-5 stretch-x">
            <div class="mb-2">
                <div class="container-titles">
                    <h2>Vos derniers messages</h2>
                </div>
                <div class="container announcements container-grid">
                    {% for message in messages %}
                    <div class="card">
                        <div class="card-header">
                            <div><img src="{{ asset('icons/mail.svg') }}" alt=""></div>

                            <h4>Par {{ message.sender.name }},</h4>

                            <small class="justify-self-end">le {{ message.messageDate | date("d/m/Y") }}</small>
                        </div>

                        <div class="card-body">
                            <p>{{ message.messageContent }}</p>
                            <small class="mt-1"><a href="">Lire le message >>
                                </a></small>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="aside">
                <div class="container-titles">
                    <h2>Derniers fichiers disponibles</h2>
                </div>
                <div class="container announcements container-grid">
                    {% for file in files %}
                    <div class="card">
                        <div class="card-header">
                            <div><img src="{{ asset('icons/mail.svg') }}" alt=""></div>
                            <h4>{{file.file_name}}</h4>
                        </div>
                        <div class="card-body">
                            <small class="">Module :</small>
                            <p class="">{{file.course_name}}</p>
                            {% if file.file_desc %}
                            <small class="mt-1">Description :</small>
                            <p>{{file.file_desc}}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}