{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/EAS/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/EAS/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
    </ul>
</div>


<p>Nom et prénom :<br>{{ app.user.firstname }} {{ app.user.lastname }}</p>
{% for session in sessions %}
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>date de début</th>
            <th>date de fin</th>
            <th>formation</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ session.id }}</td>
            <td>{{ session.startDate | date("d/m/Y") }}</td>
            <td>{{ session.endDate | date("d/m/Y") }}</td>
            <td>{{ session.course.courseName }}</td>
        </tr>
    </tbody>
</table>


{% endfor %}

{% endblock %}
